<nav id="left-sidebar">
        <div class="nav-section">GENERAL</div>
        <div class="{% if page.url == "/" %}active {% endif %}nav-item"> <a href="/">
                <div class="nav-image-container"><img class="nav-image" src={{"images/icon-news.gif" | relative_url}}>Latest News</div></a>
        </div>
        <div class="nav-item"><a href="https://tibiapal.com" target="_blank">
                <div class="nav-image-container"><img class="nav-image" src={{"images/tibiapallogo.png" | relative_url}}>TibiaPal.com</div></a>
        </div>
        <div class="nav-item"><a href="https://www.youtube.com/kusnierr" target="_blank">
                <div class="nav-image-container"><img class="nav-image" src={{"images/youtube-icon.png" | relative_url}}>YouTube Videos & Guides</div></a>
        </div>
        
        <div class="nav-section">GUIDES</div>
        <div class="{% if page.url contains "/beginners_guide.html" %}active {% endif %}nav-item"><a href="/beginners_guide">
                <div class="nav-image-container"><img class="nav-image" src={{"images/beginner.gif" | relative_url}}>Persist - Beginner's Guide</div></a>
        </div>
        <div class="{% if page.url contains "/quests.html" %}active {% endif %}nav-item"><a href="/quests">
                <div class="nav-image-container"><img class="nav-image" src={{"images/quests.png" | relative_url}}>Quests</div></a>
        </div>
        <div class="{% if page.url contains "/builds.html" %}active {% endif %}nav-item"><a href="/builds">
                <div class="nav-image-container"><img class="nav-image" src={{"images/builds.png" | relative_url}}>Builds (WIP)</div></a>
        </div>

        <div class="nav-section">TOOLS</div>
        <div class="{% if page.url == "/map.html" %}active {% endif %}nav-item"><a href="/map">
                <div class="nav-image-container"><img class="nav-image" src={{"images/map.gif" | relative_url}}>Interactive Map (WIP)</div></a>
        </div>
        <div class="{% if page.url == "/planner.html" %}active {% endif %}nav-item"><a href="/planner">
                <div class="nav-image-container"><img class="nav-image" src={{"images/planner.png" | relative_url}}>Skill Tree Planner (WIP)</div></a>
        </div>

        
</nav>